nav {
	background-color: white;
	text-transform: uppercase;
}

nav a, nav a:hover {
	font-size: 20px;
	color: #fff;
}

.jumbotron {
	background-image: URL("../Assets/Imgs/wheat_field.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron img {
	margin-left: 45px;
}

#container-wrap {
	padding: 0;
	background-color: #d2b48c;
	position: relative;
	bottom: 30px;
}

.row {
	margin-top: 50px;
}

h1 {
	font-family: Helvetica;
}

p {
	font-family: Papyrus;
	font-size: 16px;
}

footer {
	margin-top: 20px;
	font-weight: bold;
}
