/* Custom CSS */
.navbar-custom {
    background-color: rgb(54, 37, 76);
}

.navbar-custom .navbar-nav .nav-link {
    color: rgb(255, 59, 0);
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: rgb(255, 59, 0); /* Hover color */
}


.carousel-item img {
    max-height: 500px; /* Adjust the maximum height as needed */
    margin: auto;
}